{% extends 'base.html' %}
{% load app_extras %}

{% block title %}{{ patient.full_name }}{% endblock %}

{% block content %}
<div class="container-pad">
<div class="row">
    <div class="col-sm-6 mt-3">
        <div class="card h-100 rounded-0">
            <div class="card-header">
                Pacienta dati
                <a class="btn btn-link text-dark" href="{% url 'patient_edit' patient.pk %}">
                        <i class="fa fa-pencil-square-o"></i></a>
            </div>
            <div class="card-body">
                <h5 class="card-title"></h5>
                {% for text, data in patient_info %}
                    <div class="row">
                        <div class="col-sm-6 text-right text-secondary">
                            {{ text|title }}
                        </div>
                        <div class="col-sm-6 text-left">
                            {{ data }}
                        </div>
                    </div>
                {%endfor%}
            </div>
        </div>
    </div>
    <div class="col-sm-6 mt-3">
        <div class="card h-100 rounded-0">
            <div class="card-header">
                Aprūpes dati
            </div>
            <div class="card-body">
                {% for text, data in patient_care %}
                    <div class="row">
                        <div class="col-sm-6 text-right text-secondary">
                            {{ text|title }}
                        </div>
                        <div class="col-sm-6 text-left">
                            {{ data }}
                        </div>
                    </div>
                {%endfor%}
                <div class="row">
                    <div class="col-sm-6 text-right text-secondary">
                        Palāta
                    </div>
                    <div class="col-sm-6 text-left">
                        {% if room %}
                            {{ room.room_id }}
                        {% else %}
                            Nav rezervēts
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#sick">Slimības vēsture</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#med">Medikamentu vēsture</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#receipt">Rēķini</a>
                </li>
            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="sick">
                    {% include "patients/sick_history_index.html" %}
                </div>
                <div role="tabpanel" class="tab-pane fade in" id="med">
                    {% include "patients/med_use_index.html" %}
                </div>
                 <div role="tabpanel" class="tab-pane fade in" id="receipt">
                   {% include "patients/receipt_index.html" %} 
                </div>
            </div>
        </div>

    </div>

</div>

{% endblock %}

