<div class="card rounded-0">
    <div class="card-header">
        <a class="btn btn-link text-dark" href="{% url 'sick_history_new' patient.pk %}">
            <i class="fa fa-plus"></i></a>
    </div>
    <div class="card-body">
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Summa</th>
                    <th scope="col">Izveidošanas datums</th>
                    <th scope="col">Darbības</th>
                </tr>
            </thead>
            <tbody>
                {% for rec in receipts %}
                    <tr>
                        <td>{{ rec.pk }}</td>
                        <td>{{ rec.total }}</td>
                        <td>{{ rec.date_created }}</td>
                        <td>
                            <div class="row">
                                <form action="{% url 'receipt_delete' rec.pk %}" method="post">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-link text-dark">
                                        <i class="fa fa-trash-o text-danger"></i>
                                    </button>
                                </form>
                                <a class="btn btn-link text-dark" href="{% url 'receipt_edit' rec.pk %}">
                                    <i class="fa fa-pencil-square-o"></i></a>
                            </div>
                        </td>
                    </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>
</div>

