{% extends 'base.html' %}
{% load app_extras %}

{% block title %}Home{% endblock %}

{% block content %}


{% if user.is_authenticated %}
    {% if patients %}
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Vārds</th>
                    <th scope="col">Uzvārds</th>
                    <th scope="col">Personas kods</th>
                    <th scope="col">Stāvoklis</th>
                    <th scope="col">Darbības</th>
                </tr>
            </thead>
            {% for p in patients %}
            <tbody>
                    <tr>
                        <td><a href="{% url 'patient_detail' p.patient_id %}">{{ p.pk }}</a></td>
                        <td>{{ p.name }}</td>
                        <td>{{ p.surname }}</td>
                        <td>{{ p.p_number }}</td>
                        <td>{{ med_state_dict|get_item:p.medical_state }}</td>
                        <td>
                            <div class="row">
                                <form action="{% url 'patient_delete' p.pk %}" method="post">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-link text-dark">
                                        <i class="fa fa-trash-o text-danger"></i>
                                    </button>
                                </form>
                                <a class="btn btn-link text-dark" href="{% url 'patient_edit' p.pk %}">
                                        <i class="fa fa-pencil-square-o"></i></a>
                            </div>
                        </td>
                    </tr>
            </tbody>
            {% endfor %}
        </table>
    {% else %}
        <p>No patients are available.</p>
    {% endif %}


 
   

   

    




{% else %}
  <h1 class="text-center">Please log in</h1>
  <a href="{% url 'login' %}" class="btn btn-lg btn-block btn-outline-primary" role="button" aria-pressed="true">Login</a>
{% endif %}



{% endblock %}